class Create<%= chat_model_name.pluralize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= chat_model_name.tableize %> do |t|
      t.references :<%= model_model_name.tableize.singularize %>, foreign_key: true
      t.timestamps
    end
  end
end
