class Create<%= message_model_name.pluralize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= message_model_name.tableize %> do |t|
      t.references :<%= chat_model_name.tableize.singularize %>, null: false, foreign_key: true
      t.string :role, null: false
      t.text :content
      t.references :<%= model_model_name.tableize.singularize %>, foreign_key: true
      t.integer :input_tokens
      t.integer :output_tokens
      t.references :<%= tool_call_model_name.tableize.singularize %>, foreign_key: true
      t.timestamps
    end

    add_index :<%= message_model_name.tableize %>, :role
  end
end
