class Create<%= chat_model_name.gsub('::', '').pluralize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= chat_table_name %> do |t|
      t.references :<%= model_table_name.singularize %>, foreign_key: true
      t.timestamps
    end
  end
end
