RubyLLM.configure do |config|
  config.openai_api_key = Rails.application.credentials.dig(:openai_api_key)
  # config.default_model = "gpt-4.1-nano"

<% unless skip_model_registry? -%>
  # DB-backed model registry for rich model metadata
  config.model_registry_class = "<%= options[:model_model_name] %>"
<% end -%>
end
