<%% content_for :title, "Models" %>

<h1>Models</h1>

<%% @models.each do |provider, models| %>
  <h2><%%= provider.upcase %></h2>

  <ul>
    <%% models.each do |model| %>
      <li>
        <strong><%%= model.name %></strong>
        (<%%= model.model_id %>)
        - <%%= link_to "Start chat", new_chat_path(model: model.model_id) %>
      </li>
    <%% end %>
  </ul>
<%% end %>

<p><%%= link_to "Back to chats", chats_path %></p>